.why {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.why_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.why .title_separator {
  margin-bottom: 42px;
}

.why_button {
  width: 260px;
}
.why_right {
  max-width: 646px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.why .section_title {
  max-width: 400px;
}
.item_texts_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.why_wrap_icon {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 23px 23px 22px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 21.918px;
  border: 4.11px solid #fff;
  background: var(--light-grey, #f2f2f2);
  box-shadow: 0px 0px 23.288px 0px #f2f2f2;
}
.why_item_texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.why_item_title {
  color: var(--Blue, #162150);
  font-family: 'Segoe UI';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.why_item_text {
  color: var(--grey, #9f9f9f);
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-height: 0;
  opacity: 0;
  transition: all 0.6s;
}
.why_item_button {
  color: var(--Blue, #162150);
  z-index: 99;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transition: all 0.3s;

  cursor: pointer;
  display: inline-flex; /* Ensures better interaction behavior */
  align-items: center;
  gap: 8px;
  user-select: none; /* Prevents text cursor */
}
.why_item_button:hover {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
  color: #ed4530;
}
.less {
  display: none;
}
.activated .more {
  display: none;
}
.activated .less {
  display: flex;
}
.activated .why_item_text {
  max-height: 160px;
  opacity: 1;
  transition: all 0.6s;
}

.why_mob_button {
  display: none;
}
@media (max-width: 1150px) {
  .why_wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .why_button {
    display: none;
  }
  .why_mob_button {
    display: flex;
    align-self: center;
    width: 350px;
  }
  .why .title_separator {
    margin-bottom: 0;
  }
  .why_right {
    max-width: 100%;
  }
  .why_wrap_icon {
    width: 73px;
    height: 73px;
    padding: 15.5px 16.5px 17.5px 16.5px;
  }
  .why_wrap_icon img {
    width: 40px;
    height: 40px;
  }
  .why_item_title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .why {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
